p,h1,h2,h3,table,ul,figcaption{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(../img/Texture.jpg);
    background-attachment: fixed; 
    background-position: center;
    background-repeat: repeat-x;
}
a{
    color: white;
}
a:hover{
    color: yellowgreen;
    font-size: 30px;
    transition: 0.2s;
}
